/* =========================================================
   MAIN BUTTON AREA
   ========================================================= */

.primary-btn {
  display: inline-block;

  padding: 0 48px;

  background: $primary-color;
  color: $title-color;

  font-size: 13px;
  font-weight: 500;
  line-height: 50px;

  border-radius: 5px;
  outline: none !important;

  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  @include transition();

  &:hover {
    background: $title-color;
    color: $primary-color;
  }
}

/* =========================================================
   PRIMARY BUTTON 2
   ========================================================= */

.primary-btn2 {
  display: inline-block;

  padding: 0 48px;

  background: $title-color;
  color: $primary-color;

  font-size: 13px;
  font-weight: 500;
  line-height: 48px;

  border: 1px solid transparent;
  border-radius: 5px;
  outline: none !important;

  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  @include transition();

  &:hover {
    background: transparent;
    color: $title-color;
    border-color: $title-color;
  }
}

/* =========================================================
   WHITE BACKGROUND BUTTON
   ========================================================= */

.white_bg_btn {
  display: inline-block;

  padding: 0 28px;

  background: $white;
  color: $title-color;

  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;

  text-transform: uppercase;

  border: none;

  @include transition();

  &:hover {
    background: $primary-color;
    color: $white;
  }
}

/* =========================================================
   BLOG BUTTON
   ========================================================= */

.blog_btn {
  display: inline-block;

  padding: 0 32px;

  background: #f1f9ff;
  color: $title-color;

  font-family: $primary-font;
  font-size: 13px;
  font-weight: 600;
  line-height: 34px;

  border: 1px solid #eeeeee;

  &:hover {
    background: $primary-color;
    border-color: $primary-color;
    color: $title-color;
  }
}
