/* =========================================================
   CONTACT AREA
   ========================================================= */

.contact_area {
}

.mapBox {
  height: 420px;
  margin-bottom: 80px;
}

.contact_info {
  .info_item {
    position: relative;

    padding-left: 45px;

    i {
      position: absolute;
      top: 0;
      left: 0;

      color: $title-color;

      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }

    h6 {
      margin-bottom: 0;

      color: $title-color;

      font-size: 16px;
      font-weight: 700;
      line-height: 24px;

      a {
        color: $title-color;
      }
    }

    p {
      padding: 2px 0;

      font-size: 14px;
      line-height: 24px;
    }
  }
}

/* =========================================================
   CONTACT FORM
   ========================================================= */

.contact_form {
  .form-group {
    margin-bottom: 10px;

    .form-control {
      padding-left: 20px;

      color: #999;

      border: 1px solid #eeeeee;
      border-radius: 0;

      font-family: $primary-font;
      line-height: 26px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      @include placeholder {
        color: $title-color;
        font-size: 13px;
      }
    }

    textarea {
      resize: none;

      &.form-control {
        height: 140px;
      }
    }
  }

  .primary-btn {
    margin-top: 20px;
    cursor: pointer;
  }
}

/* =========================================================
   CONTACT SUCCESS / ERROR MODAL
   ========================================================= */

.modal-message {
  .modal-dialog {
    position: absolute;
    top: 36%;
    left: 50%;

    width: 100%;
    max-width: 500px;

    margin: 0;

    transform: translateX(-50%) translateY(-50%) !important;

    .modal-content {
      .modal-header {
        display: block;

        padding-top: 50px;
        padding-bottom: 50px;

        border-bottom: none;

        text-align: center;

        .close {
          position: absolute;
          top: -15px;
          right: -15px;

          padding: 0;

          color: $white;

          opacity: 1;

          cursor: pointer;
        }

        h2 {
          display: block;

          padding-bottom: 10px;

          color: $primary-color;

          font-family: $primary-font;

          text-align: center;
        }

        p {
          display: block;
        }
      }
    }
  }
}
