/* =========================================================
   ELEMENTS AREA
   ========================================================= */

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* =========================================================
   SAMPLE TEXT AREA
   ========================================================= */

.sample-text-area {
  padding: 100px 0 70px;

  .title_color {
    margin-bottom: 30px;
  }

  p {
    line-height: 26px;

    b,
    i,
    sup,
    sub,
    del,
    u {
      color: $primary-color;
    }

    b {
      font-weight: 700;
    }

    i,
    sup,
    sub {
      font-style: italic;
    }
  }
}

/* =========================================================
   ELEMENTS BUTTON AREA
   ========================================================= */

.elements_button {
  .title_color {
    margin-bottom: 30px;
    color: $title-color;
  }
}

.title_color {
  color: $title-color;
}

.button-group-area {
  margin-top: 15px;

  &:nth-child(odd) {
    margin-top: 40px;
  }

  &:first-child {
    margin-top: 0;
  }

  .theme_btn {
    margin-right: 10px;
  }

  .link {
    background: transparent;
    color: $title-color;
    text-decoration: underline;

    &:hover {
      color: $white;
    }
  }

  .disable {
    background: transparent;
    color: #007bff;
    cursor: not-allowed;

    &:before {
      display: none;
    }
  }
}

/* =========================================================
   BUTTON COLORS
   ========================================================= */

.primary {
  background: #52c5fd;

  &:before {
    background: #2faae6;
  }
}

.success {
  background: #4cd3e3;

  &:before {
    background: #2ebccd;
  }
}

.info {
  background: #38a4ff;

  &:before {
    background: #298cdf;
  }
}

.warning {
  background: #f4e700;

  &:before {
    background: #e1d608;
  }
}

.danger {
  background: #f54940;

  &:before {
    background: #e13b33;
  }
}

.border_btn {
}

.primary-border {
  background: transparent;
  border: 1px solid #52c5fd;
  color: #52c5fd;

  &:before {
    background: #52c5fd;
  }
}

.success-border {
  background: transparent;
  border: 1px solid #4cd3e3;
  color: #4cd3e3;

  &:before {
    background: #4cd3e3;
  }
}

.info-border {
  background: transparent;
  border: 1px solid #38a4ff;
  color: #38a4ff;

  &:before {
    background: #38a4ff;
  }
}

.warning-border {
  background: $white;
  border: 1px solid #f4e700;
  color: #f4e700;

  &:before {
    background: #f4e700;
  }
}

.danger-border {
  background: transparent;
  border: 1px solid #f54940;
  color: #f54940;

  &:before {
    background: #f54940;
  }
}

.link-border {
  background: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;

  &:before {
    background: $primary-color;
  }
}

/* =========================================================
   BUTTON SHAPES
   ========================================================= */

.radius {
  border-radius: 3px;
}

.circle {
  border-radius: 20px;
}

.arrow {
  span {
    padding-left: 5px;
  }
}

/* =========================================================
   BUTTON SIZES
   ========================================================= */

.e-large {
  padding-top: 0;
  padding-bottom: 0;

  line-height: 50px;
}

.large {
  padding-top: 0;
  padding-bottom: 0;

  line-height: 45px;
}

.medium {
  padding-top: 0;
  padding-bottom: 0;

  line-height: 30px;
}

.small {
  padding-top: 0;
  padding-bottom: 0;

  line-height: 25px;
}

.general {
  padding-top: 0;
  padding-bottom: 0;

  line-height: 38px;
}

/* =========================================================
   ELEMENTS PAGE
   ========================================================= */

.whole-wrap {
}

.generic-banner {
  margin-top: 60px;

  text-align: center;
}

.generic-banner .height {
  height: 600px;
}

@media (max-width: 767.98px) {
  .generic-banner .height {
    height: 400px;
  }
}

.generic-banner .generic-banner-content h2 {
  margin-bottom: 20px;

  line-height: 1.2em;
}

@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content h2 br,
  .generic-banner .generic-banner-content p br {
    display: none;
  }
}

.generic-banner .generic-banner-content p {
  font-size: 16px;
  text-align: center;
}

.generic-content h1 {
  font-weight: 600;
}

.about-generic-area {
  background: $white;
}

.about-generic-area p {
  margin-bottom: 20px;
}

.white-bg {
  background: $white;
}

.section-top-border {
  padding: 50px 0;

  border-top: 1px dotted #eee;
}

.switch-wrap {
  margin-bottom: 10px;
}

.switch-wrap p {
  margin: 0;
}

/* =========================================================
   TYPOGRAPHY
   ========================================================= */

.sample-text {
  margin-bottom: 0;
}

.text-heading {
  margin-bottom: 30px;

  font-size: 24px;
}

.typo-list {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px;
  }

  .element-wrap {
    margin-top: 30px;
  }
}

b,
sup,
sub,
u,
del {
  color: #f8b600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #777777;
  }
}

/* =========================================================
   GENERIC BUTTONS
   ========================================================= */

.button-area {
}

.button-area .border-top-generic {
  padding: 70px 15px;

  border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
  margin-top: 10px;
  margin-right: 10px;
}

.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

.genric-btn {
  display: inline-block;

  padding: 0 30px;

  outline: none;

  font-size: 0.8em;
  font-weight: 500;
  line-height: 40px;

  text-align: center;
  text-decoration: none;

  cursor: pointer;

  transition: all 0.3s ease 0s;

  &:focus {
    outline: none;
  }

  &.e-large {
    padding: 0 40px;
    line-height: 50px;
  }

  &.large {
    line-height: 45px;
  }

  &.medium {
    line-height: 30px;
  }

  &.small {
    line-height: 25px;
  }

  &.radius {
    border-radius: 3px;
  }

  &.circle {
    border-radius: 20px;
  }

  &.arrow {
    display: inline-flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }

  &.default {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent;

    &:hover {
      background: $white;
      border: 1px solid #f9f9ff;
    }
  }

  &.default-border {
    background: $white;
    border: 1px solid #f9f9ff;

    &:hover {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent;
    }
  }

  &.primary {
    color: $white;
    background: #f8b600;
    border: 1px solid transparent;

    &:hover {
      color: #f8b600;
      background: $white;
      border: 1px solid #f8b600;
    }
  }

  &.primary-border {
    color: #f8b600;
    background: $white;
    border: 1px solid #f8b600;

    &:hover {
      color: $white;
      background: #f8b600;
      border: 1px solid transparent;
    }
  }

  &.success {
    color: $white;
    background: #4cd3e3;
    border: 1px solid transparent;

    &:hover {
      color: #4cd3e3;
      background: $white;
      border: 1px solid #4cd3e3;
    }
  }

  &.success-border {
    color: #4cd3e3;
    background: $white;
    border: 1px solid #4cd3e3;

    &:hover {
      color: $white;
      background: #4cd3e3;
      border: 1px solid transparent;
    }
  }

  &.info {
    color: $white;
    background: #38a4ff;
    border: 1px solid transparent;

    &:hover {
      color: #38a4ff;
      background: $white;
      border: 1px solid #38a4ff;
    }
  }

  &.info-border {
    color: #38a4ff;
    background: $white;
    border: 1px solid #38a4ff;

    &:hover {
      color: $white;
      background: #38a4ff;
      border: 1px solid transparent;
    }
  }

  &.warning {
    color: $white;
    background: #f4e700;
    border: 1px solid transparent;

    &:hover {
      color: #f4e700;
      background: $white;
      border: 1px solid #f4e700;
    }
  }

  &.warning-border {
    color: #f4e700;
    background: $white;
    border: 1px solid #f4e700;

    &:hover {
      color: $white;
      background: #f4e700;
      border: 1px solid transparent;
    }
  }

  &.danger {
    color: $white;
    background: #f44a40;
    border: 1px solid transparent;

    &:hover {
      color: #f44a40;
      background: $white;
      border: 1px solid #f44a40;
    }
  }

  &.danger-border {
    color: #f44a40;
    background: $white;
    border: 1px solid #f44a40;

    &:hover {
      color: $white;
      background: #f44a40;
      border: 1px solid transparent;
    }
  }

  &.link {
    color: #222222;
    background: #f9f9ff;

    border: 1px solid transparent;

    text-decoration: underline;

    &:hover {
      color: #222222;
      background: $white;
      border: 1px solid #f9f9ff;
    }
  }

  &.link-border {
    color: #222222;
    background: $white;

    border: 1px solid #f9f9ff;

    text-decoration: underline;

    &:hover {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent;
    }
  }

  &.disable {
    color: rgba(34, 34, 34, 0.3);
    background: #f9f9ff;

    border: 1px solid transparent;

    cursor: not-allowed;
  }
}

/* =========================================================
   GENERIC BLOCKQUOTE
   ========================================================= */

.generic-blockquote {
  padding: 30px 50px 30px 30px;

  background: $white;

  border-left: 2px solid #f8b600;
}

/* =========================================================
   PROGRESS TABLE
   ========================================================= */

@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: auto;
  }
}

.progress-table {
  min-width: 800px;

  padding: 15px 0 30px;

  background: $white;

  .serial {
    width: 11.83%;
    padding-left: 30px;
  }

  .country {
    width: 28.07%;
  }

  .visit {
    width: 19.74%;
  }

  .percentage {
    width: 40.36%;
    padding-right: 50px;
  }

  .table-head {
    display: flex;

    .serial,
    .country,
    .visit,
    .percentage {
      color: #222222;

      font-weight: 500;
      line-height: 40px;

      text-transform: uppercase;
    }
  }

  .table-row {
    display: flex;

    padding: 15px 0;

    border-top: 1px solid #edf3fd;

    .serial,
    .country,
    .visit,
    .percentage {
      display: flex;
      align-items: center;
    }

    .country {
      img {
        margin-right: 15px;
      }
    }

    .percentage {
      .progress {
        width: 80%;

        background: transparent;

        border-radius: 0;

        .progress-bar {
          height: 5px;
          line-height: 5px;

          &.color-1 {
            background-color: #6382e6;
          }

          &.color-2 {
            background-color: #e66686;
          }

          &.color-3 {
            background-color: #f09359;
          }

          &.color-4 {
            background-color: #73fbaf;
          }

          &.color-5 {
            background-color: #73fbaf;
          }

          &.color-6 {
            background-color: #6382e6;
          }

          &.color-7 {
            background-color: #a367e7;
          }

          &.color-8 {
            background-color: #e66686;
          }
        }
      }
    }
  }
}

/* =========================================================
   GALLERY
   ========================================================= */

.single-gallery-image {
  height: 200px;

  margin-top: 30px;

  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  transition: all 0.3s ease 0s;

  &:hover {
    opacity: 0.8;
  }
}

/* =========================================================
   LISTS
   ========================================================= */

.list-style {
  width: 14px;
  height: 14px;
}

.unordered-list {
  list-style: none;

  margin: 0;
  padding: 0;

  li {
    position: relative;

    padding-left: 30px;

    line-height: 1.82em !important;

    &:before {
      position: absolute;
      top: 4px;
      left: 0;

      width: 14px;
      height: 14px;

      content: "";

      background: $white;

      border: 3px solid #f8b600;
      border-radius: 50%;
    }
  }
}

.ordered-list {
  margin-left: 30px;

  list-style: none;

  li {
    color: #f8b600;

    font-weight: 500;
    line-height: 1.82em !important;
    list-style-type: decimal-leading-zero;

    span {
      color: #777777;
      font-weight: 300;
    }
  }
}

.ordered-list-alpha {
  li {
    margin-left: 30px;

    color: #f8b600;

    font-weight: 500;
    line-height: 1.82em !important;

    list-style-type: lower-alpha;

    span {
      color: #777777;
      font-weight: 300;
    }
  }
}

.ordered-list-roman {
  li {
    margin-left: 30px;

    color: #f8b600;

    font-weight: 500;
    line-height: 1.82em !important;

    list-style-type: lower-roman;

    span {
      color: #777777;
      font-weight: 300;
    }
  }
}

/* =========================================================
   INPUTS
   ========================================================= */

.single-input {
  display: block;

  width: 100%;

  padding: 0 20px;

  background: #f9f9ff;

  border: none;
  outline: none;

  line-height: 40px;

  &:focus {
    outline: none;
  }
}

.input-group-icon {
  position: relative;

  .icon {
    position: absolute;
    top: 1px;
    left: 20px;

    line-height: 40px;

    z-index: 3;

    i {
      color: #797979;
    }
  }

  .single-input {
    padding-left: 45px;
  }
}

.single-textarea {
  display: block;

  width: 100%;
  height: 100px;

  padding: 0 20px;

  background: #f9f9ff;

  border: none;
  outline: none;

  line-height: 40px;

  resize: none;

  &:focus {
    outline: none;
  }
}

.single-input-primary,
.single-input-accent,
.single-input-secondary {
  display: block;

  width: 100%;

  padding: 0 20px;

  background: #f9f9ff;

  border: 1px solid transparent;
  outline: none;

  line-height: 40px;
}

.single-input-primary {
  &:focus {
    outline: none;
    border-color: #f8b600;
  }
}

.single-input-accent {
  &:focus {
    outline: none;
    border-color: #eb6b55;
  }
}

.single-input-secondary {
  &:focus {
    outline: none;
    border-color: #f09359;
  }
}

/* =========================================================
   SWITCHES
   ========================================================= */

.default-switch,
.primary-switch,
.confirm-switch {
  position: relative;

  width: 35px;
  height: 17px;

  background: $white;

  border-radius: 8.5px;

  cursor: pointer;
}

.default-switch {
  input {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    cursor: pointer;

    & + label {
      position: absolute;
      top: 1px;
      left: 1px;

      width: 15px;
      height: 15px;

      background: #f8b600;

      border-radius: 50%;

      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);

      transition: all 0.2s;

      cursor: pointer;
    }

    &:checked + label {
      left: 19px;
    }
  }
}

.primary-switch,
.confirm-switch {
  input {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
  }

  input + label {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
  }

  input + label:before {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    content: "";

    background: transparent;

    border-radius: 8.5px;

    transition: all 0.2s;

    cursor: pointer;
  }

  input + label:after {
    position: absolute;
    top: 1px;
    left: 1px;

    width: 15px;
    height: 15px;

    content: "";

    background: $white;

    border-radius: 50%;

    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);

    transition: all 0.2s;

    cursor: pointer;
  }

  input:checked + label:after {
    left: 19px;
  }
}

.primary-switch {
  input:checked + label:before {
    background: #f8b600;
  }
}

.confirm-switch {
  input:checked + label:before {
    background: #4cd3e3;
  }
}

/* =========================================================
   CHECKBOXES
   ========================================================= */

.primary-checkbox,
.confirm-checkbox,
.disabled-checkbox {
  position: relative;

  width: 16px;
  height: 16px;

  background: $white;

  border-radius: 3px;

  cursor: pointer;

  input {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
  }

  input + label {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    border: 1px solid #f1f1f1;
    border-radius: 3px;

    cursor: pointer;
  }
}

.primary-checkbox {
  input:checked + label {
    background: url("../img/elements/primary-check.png") no-repeat center /
      cover;

    border: none;
  }
}

.confirm-checkbox {
  input:checked + label {
    background: url("../img/elements/success-check.png") no-repeat center /
      cover;

    border: none;
  }
}

.disabled-checkbox {
  input:disabled {
    z-index: 3;

    cursor: not-allowed;
  }

  input:checked + label {
    background: url("../img/elements/disabled-check.png") no-repeat center /
      cover;

    border: none;
  }
}

/* =========================================================
   RADIOS
   ========================================================= */

.primary-radio,
.confirm-radio,
.disabled-radio {
  position: relative;

  width: 16px;
  height: 16px;

  background: $white;

  border-radius: 8px;

  cursor: pointer;

  input {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
  }

  input + label {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    border: 1px solid #f1f1f1;
    border-radius: 8px;

    cursor: pointer;
  }
}

.primary-radio {
  input:checked + label {
    background: url("../img/elements/primary-radio.png") no-repeat center /
      cover;

    border: none;
  }
}

.confirm-radio {
  input:checked + label {
    background: url("../img/elements/success-radio.png") no-repeat center /
      cover;

    border: none;
  }
}

.disabled-radio {
  input:disabled {
    z-index: 3;

    cursor: not-allowed;
  }

  input:checked + label {
    background: url("../img/elements/disabled-radio.png") no-repeat center /
      cover;

    border: none;
  }
}

/* =========================================================
   SELECT
   ========================================================= */

.default-select {
  height: 40px;

  .nice-select {
    height: 40px;

    padding-left: 20px;
    padding-right: 40px;

    background: $white;

    border: none;
    border-radius: 0;

    .list {
      width: 100%;

      margin-top: 0;
      padding: 10px 0;

      border: none;
      border-radius: 0;

      box-shadow: none;

      .option {
        min-height: 28px;

        padding-left: 20px;

        font-size: 12px;
        font-weight: 300;
        line-height: 28px;

        transition: all 0.3s ease 0s;

        &.selected,
        &:hover {
          color: #f8b600;
          background: transparent;
        }
      }
    }

    &::after {
      right: 20px;
    }
  }

  .current {
    margin-right: 50px;

    font-weight: 300;
  }
}

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px;
  }
}

.form-select {
  width: 100%;
  height: 40px;

  .nice-select {
    width: 100%;
    height: 40px;

    padding-left: 45px;
    padding-right: 40px;

    background: #f9f9ff !important;

    border: none;
    border-radius: 0;

    .list {
      width: 100%;

      margin-top: 0;
      padding: 10px 0;

      border: none;
      border-radius: 0;

      box-shadow: none;

      .option {
        min-height: 28px;

        padding-left: 45px;

        font-size: 12px;
        font-weight: 300;
        line-height: 28px;

        transition: all 0.3s ease 0s;

        &.selected,
        &:hover {
          color: #f8b600;
          background: transparent;
        }
      }
    }

    &::after {
      right: 20px;
    }
  }

  .current {
    margin-right: 50px;

    font-weight: 300;
  }
}
